[submodule "nitro_rpc/lib/forge-std"]
	path = nitro_rpc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nitro_rpc/lib/exit-format"]
	path = nitro_rpc/lib/exit-format
	url = https://github.com/statechannels/exit-format
[submodule "nitro_rpc/lib/nitro"]
	path = nitro_rpc/lib/nitro
	url = https://github.com/erc7824/nitro
[submodule "nitro_rpc/lib/openzeppelin-contracts"]
	path = nitro_rpc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
