[submodule "nitro_rpc/lib/forge-std"]
	path = nitro_rpc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nitro_rpc/lib/exit-format"]
	path = nitro_rpc/lib/exit-format
	url = https://github.com/statechannels/exit-format
